* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: #333;
  background-color: #fafafa;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
}

button {
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

